<!DOCTYPE html>
<html
  lang="kr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <title th:text="${room.member.nickname}"></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/chat/chatRoom.css}" />
  </head>

  <header>
    <div class="container">
      <div id="userInfo">
        <th:block th:if="${room.roomId}!=${#authentication.principal.nickname}"> 
          <div class="titleDiv">
            <span class="roomTitle" th:text="${room.roomId}"></span>
            <span
              class="memberGrade"
              th:text="${chatRoomMember.grade} + ℃"
            ></span>
          </div>
        </th:block>
        <th:block th:if="${room.roomId}==${#authentication.principal.nickname}">
          <div class="titleDiv">
            <span th:text="${nickname}"></span>
            <span class="memberGrade" th:text="${room.member.grade} + ℃"></span>
          </div>
        </th:block>

        <a th:href="@{/chat/list(memberNo=${memberNo})}">
          <i class="fa-solid fa-chevron-left" id="goBack"></i>
        </a>
      </div>
    </div>
  </header>

  <body>
    <div class="container">
      <div>
        <div id="msgArea" class="col">
          <div th:each="messages : ${messages}">
            <th:block
              th:if="${messages.writer}==${#authentication.principal.memberNo}"
            >
              <div class="d-flex justify-content-end mb-2">
                <span class="mr-1 pt-4" th:text="${messages.sendTime}"></span>
                <div class="alert alert-warning">
                  <b th:text="${messages.message}"></b>
                </div>
              </div>
            </th:block>
            <th:block
              th:if="${messages.writer}!=${#authentication.principal.nickname}"
            >
              <div class="d-flex justify-content-start">
                <span th:text="${messages.writer}"></span>
              </div>
              <div class="d-flex justify-content-start mb-2">
                <div class="alert alert-secondary">
                  <b th:text="${messages.message}"></b>
                </div>
                <span class="ml-1 pt-4" th:text="${messages.sendTime}"></span>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6"></div>

    <footer>
      <div class="sendDiv">
        <input
          type="text"
          id="message"
          class="ml-3"
          placeholder="메시지 보내기"
        />
        <div class="sendButton">
          <a class="btn" type="button" id="button-send">
            <b>💬</b>
          </a>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script th:src="@{/webjars/sockjs-client/1.1.2/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3-1/stomp.min.js}"></script>
    <script
      th:src="@{https://code.jquery.com/jquery-3.6.1.min.js}"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script th:inline="javascript">
      window.addEventListener("DOMContentLoaded", () => {
                document.documentElement.scrollTop = document.body.scrollHeight;
                let roomName = [[${nickname}]];
                let roomId = [[${room.roomId}]];
                let username = [[${#authentication.principal.nickname}]];
                let messageNum=[[${nicknameNum}]];


                let msgArea = document.querySelector("#msgArea");

                console.log(roomName + ", " + roomId + ", " + username);

                let sockJs = new SockJS("/stomp/chat");
                //1. SockJS를 내부에 들고있는 stomp를 내어줌
                let stomp = Stomp.over(sockJs);

                //2. connection이 맺어지면 실행
                stomp.connect({}, function (){
                   console.log("STOMP Connection")

                   //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                   stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                       let content = JSON.parse(chat.body);

                       let writer = content.writer;
                       let str = '';
                       let message = content.message;
                       let sendTime = content.sendTime;
                       if(sendTime.length==24){
                        sendTime=sendTime.slice(sendTime.length-10,sendTime.length-3);
                        }else{
                        sendTime=sendTime.slice(sendTime.length-11,sendTime.length-3);
                        }
                       if(writer == username){
                           str = "<div class='d-flex justify-content-end mb-2'>";
                           str+="<span class='mr-1 pt-4'>"+sendTime+"</span>"
                           str += "<div class='alert alert-warning'>";
                           str += "<b>" + message + "</b>";
                           str += "</div></div>";
                           $("#msgArea").append(str);
                           document.documentElement.scrollTop = document.body.scrollHeight;
                       }
                       else{
                           str = "<div class='d-flex justify-content-start'>"
                           str += "<span>"+writer+"</span>"
                           str += "</div>"
                           str += "<div class='d-flex justify-content-start mb-2'>";
                           str += "<div class='alert alert-secondary'>";
                           str += "<b>" + message + "</b>";
                           str += "</div>"
                           str += "<span class='ml-1 pt-4'>"+sendTime+"</span>"
                           str += "</div>";

                           $("#msgArea").append(str);
                           document.documentElement.scrollTop = document.body.scrollHeight;
                       }
                   });


                   //3. send(path, header, message)로 메세지를 보낼 수 있음
                //    stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
                });
                document.getElementById("message").addEventListener("keyup", function(e) {
                  if (e.keyCode === 13) {
                    let message = document.getElementById("message");
                    const date = new Date();
                    let nowDate = date.toLocaleString('ko-kr');

                    if(message.value==''){
                      return;
                    }

                    console.log(username + ":" + message.value);
                    stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: message.value, writer: username, sendTime:nowDate,messageNum:messageNum}));
                    message.value = '';

                  }
                });

            const sendButton = document.querySelector("#button-send")
                    sendButton.addEventListener("click",function(e){
                    let message = document.getElementById("message");
                    const date = new Date();
                    let nowDate = date.toLocaleString('ko-kr');

                    if(message.value==''){
                      return;
                    }

                    console.log(username + ":" + message.value);
                    stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: message.value, writer: username, sendTime:nowDate,messageNum:messageNum}));
                    message.value = '';

            });
          })
    </script>
    <script
      src="https://kit.fontawesome.com/cb94ffb39e.js"
      crossorigin="anonymous"
    ></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
