<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html }">

<div layout:fragment="content">
  <div class="container my-2">
      <div class="list-group-item text-center h4 pb-2 pt-5 mb-4 border-bottom" style="font-weight: bolder; font-family: '휴먼엑스포';">
        <h1>상품 등록</h1>
      </div>

      <form method="post" enctype="multipart/form-data" action="/product/create" name="fromCreate">
        <div class="p-3 border-bottom">
          <input type="hidden" name="memberNo" th:value="${#authentication.principal.memberNo}" />    <!-- 멤버 -->
          <label for="title" class="font-weight-bold" style=" width: 150px; " >제목</label>
          <input id="title" class="align-text-top shadow-sm p-3 mb-5 bg-body rounded border border-gray" style="width: 1000px; height: 50px;" maxlength="50"
                 type="text" name="title" placeholder="제목을 입력해주세요." required autofocus />
        </div>
        <div class="p-3 mt-2 border-bottom">
          <label for="content" class="font-weight-bold" style="width: 150px; " >내용</label>
          <textarea rows="5" cols="80" id="content" class="align-text-top shadow-sm p-3 mb-5 mt-2 bg-body rounded border border-gray" style="width: 1000px; height: 200px;" minlength="5"
                    name="content" placeholder="내용을 입력해주세요." required ></textarea>
        </div>
        <div class="p-3 border-bottom">
          <label for="price" class="font-weight-bold" style=" width: 150px; ">가격</label>
            <input  id="price" class=" shadow-sm p-3 mb-5 bg-body rounded border border-gray" style="width: 200px; height: 50px;" size="10"
                    type="number" name="price" placeholder="가격을 입력해주세요." required />
              <span class="mt-auto m-2 pb-3 pt-xl-5">원</span>
            </div>
          <div>
              <input type="hidden" name="clickCount" th:value="0"/>    <!-- 조회수 0으로 시작.. -->
              <input type="hidden" name="likeCount" th:value="0" />    <!-- 찜 0으로 시작 -->
          </div>
        <div class="p-3 mt-3 border-bottom">
          <select id="category" class="form-select shadow-sm p-3 mb-5 bg-body rounded" style="width: 1150px;" name="category">
            <option>카테고리를 선택해주세요.</option>
            <option value="디지털기기">디지털기기</option>
            <option value="생활가전/주방">생활가전/주방</option>
            <option value="유아용품">유아용품</option>
            <option value="여성패션/잡화">여성패션/잡화</option>
            <option value="남성패션/잡화">남성패션/잡화</option>
            <option value="뷰티/미용">뷰티/미용</option>
            <option value="스포츠/레저">스포츠/레저</option>
            <option value="취미/게임/음반">취미/게임/음반</option>
            <option value="도서">도서</option>
            <option value="반려동물용품">반려동물용품</option>
            <option value="기타">기타</option>
          </select>
        </div>
        <div class="p-3 input-group mb-3 border-bottom">
          <div class="uploadImg">
              <label for="price" class="font-weight-bold" style=" width: 150px; ">상품이미지</label>
            <div class="text-center border border-gray" style="margin-left: 150px;">
                  <img id="view" src="/images/product/images.png"  style="width: 200px; height: 200px;">
              <div class="input-group">
                  <input id="imgUpload" class="p-3 bg-body" style=" height: 50px; margin-left: 70px; " name="imgFile"
                        type="file" multiple="multiple" onchange="setThumbnail(this);" accept="image/jpeg, image/png"/>
               </div>
            </div>
          </div>
        </div>
        <div class="pt-3">
            <label class="font-weight-bold" style="width: 150px; ">거래 희망 장소</label>
                <input type="text" id="openZip" name="openZip" class="text-center bg-light" style="width:100px; height:30px;" required/>
                <button type="button" style="width:100px; height:32px;" class="border border-gary rounded" onclick="openZipSearch()">주소찾기</button><br>
            <label style="width: 150px;"></label>
                <input type="text" id="dealAddress" name="dealAddress" class="mt-3 shadow-sm p-3 mb-2 bg-body rounded border border-gray" style="width:400px; height:30px;" required readonly /><br>
        </div>
        <div class=" pb-3 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-outline-success me-md-1" style="height: 35px; " id="createBtn">등록</button>
          <a class="btn btn-outline-secondary" href="/product/list" id="cancelCreate" style="height: 35px;">취소</a>
        </div>
      </form>
  </div>
</div>

<th:block layout:fragment="script">
  <!-- 이미지 미리보기-->
  <script src="http://madalla.kr/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript">
    $(function() {
      $("#imgUpload").on('change', function() {
        readURL(this);
      });
    });
    function readURL(input){
      if(input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#view').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>

  <!-- 우편번호 -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
    function openZipSearch() {
        new daum.Postcode({
          oncomplete: function(data) {
             document.querySelector("#openZip").value = data.zonecode;
             document.querySelector("#dealAddress").value =  data.address;
          }
        }).open()
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <scropt type="text/javascript"></scropt>
<!--  <script src="https://code.jquery-2.1.0.min,js"></script>-->

  <script th:src="@{ /js/productCreate.js }" th:inline="javascript"></script>
</th:block>
</html>