<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html }">
<head>
    <style>

    </style>
</head>
    <div layout:fragment="content">

        <div class="card my-2 container">
            <div class="card-header text-center">
                <h1>상품 목록 페이지</h1>
            </div>

            <div class="my-2">
                <form th:action="@{ /product/search }" method="get">
                    <div class="row ">
                        <div class="col-6">
                            <input type="text" class="form-control" name="keyword" placeholder="제목과 내용 작성자 검색" required autofocus />
                        </div>
                        <div class="col-4">
                            <input type="submit" class="btn btn-outline-success" value="검색" />

                            <a class="btn btn-outline-success" th:href="@{/product/list}" >전체 검색</a>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 상품 리스트 -->
            <div id="productList">
                <div class="row row-cols-4">

                    <div th:each="p : ${ list }" class="card my-4" style="width:300px; padding:15px; margin:5px 14px">
                        <a th:href="@{ /product/detail?productNo={productNo} (productNo = ${ p.productNo }) }"
                           style="text-decoration-line:none; color:black;">
                            <!-- 이미지 -->
                            <div class="card-img-top">
                               <!-- 이미지가 없다면 -->
                                <th:block th:if="${ p.photoUrl1 } == null and ${ p.photoUrl2 } == null and ${ p.photoUrl3 } == null and ${ p.photoUrl4 } == null and ${ p.photoUrl5 } == null">
                                    <img th:src="@{ /images/product/noimg.png }" style="width:100%; height:200px;" alt="...">
                                </th:block>
                                <!-- 이미지가 있다면-->
                                <th:block th:if="${p.photoUrl1} != null">
                                    <img th:src="@{ ${p.photoUrl1} }" style="width:100%; height:200px;" alt="...">
                                </th:block>
                            </div>
                            <!-- 정보 -->
                            <div class="card-body" style="">
                                <p th:text="${ p.title }" class="card-title" style="height:5%; "></p>
                                <p th:text="${ p.price } + ' 원'" class=" card-title" style="height:5%; font-weight:bold"></p>
                                <p th:text="${ p.dealAddress }" class=" card-title" style="height:5% text"></p>
                                <p class="card-text" style="height:5%">
                                    <small th:text=" '관심 ' + ${ p.likeCount }" class="text-muted" ></small>
                                </p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>


<!--            <div id="productList" >-->
<!--                <div th:each="products : ${ list }" class="card-group row my-3">-->
<!--                    <div th:each="p : ${products}" class="col-4"  style="height:80%">-->
<!--                        <div class="card my-4">-->

<!--                            <a th:if="${ p.photoUrl1 } == null and ${ p.photoUrl2 } == null and ${ p.photoUrl3 } == null and ${ p.photoUrl4 } == null and ${ p.photoUrl5 } == null"-->
<!--                               th:href="@{ /product/detail?productNo={productNo} (productNo = ${ p.productNo }) }"-->
<!--                               style="text-decoration-line:none; color:black;">-->
<!--                                <div class="w-100" style="height:50%;">-->
<!--                                    <img th:src="@{ /images/product/noimg.png }" class="card-img-top" style="width:100%; height:150px;" alt="..." >-->
<!--                                </div>-->

<!--                                <div class="card-body w-100 h-50 d-inline-block" style="height:50%">-->
<!--                                    <h5 class="card-title" th:text="${ p.title  }" style="height:5%; "></h5>-->
<!--                                    <p class="card-text" th:text="${ p.price } + ' 원' " style="height:5%; font-weight:bold"></p>-->
<!--                                    <p class="card-text" th:text="${ p.dealAddress }" style="height:5% text"></p>-->
<!--                                    <p class="card-text" style="height:5%">-->
<!--                                        <small class="text-muted" th:text=" '관심 ' + ${ p.likeCount }"></small>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </a>-->

<!--                            <a th:if="${p.photoUrl1} != null"-->
<!--                               th:href="@{ /product/detail?productNo={productNo} (productNo = ${ p.productNo }) }"-->
<!--                               style="text-decoration-line:none; color:black;">-->
<!--                                <div class="w-100">-->
<!--                                    <img th:src="@{ ${p.photoUrl1} }" class="card-img-top" style="width:100%; height:200px; padding:5px; border-radius:30px;" alt="...">-->
<!--                                </div>-->

<!--                                <div class="card-body w-100 h-50 d-inline-block" style="height:50%">-->
<!--                                    <h5 class="card-title" th:text="${ p.title  }" style="height:5%; "></h5>-->
<!--                                    <p class="card-text" th:text="${ p.price } + ' 원' " style="height:5%; font-weight:bold"></p>-->
<!--                                    <p class="card-text" th:text="${ p.dealAddress }" style="height:5% text"></p>-->
<!--                                    <p class="card-text" style="height:5%">-->
<!--                                        <small class="text-muted" th:text=" '관심 ' + ${ p.likeCount }"></small>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </a>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <a th:href="@{/product/create}" class="btn btn-outline-success">상품 등록</a>
            <th:block th:if="${ result } == 'nok' ">
                <p>검색 결과가 없습니다.</p>
            </th:block>

            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/product/list(page=${page -1})}" th:text="${page}"></a>
                <strong th:if="${page == nowPage}" th:text="${page}"></strong>
            </th:block>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="@{/product/list(page=${page})}">1</a></li>
                    <li class="page-item"><a class="page-link" href="@{/product/list(page=${page +1})}">2</a></li>
                    <li class="page-item"><a class="page-link" href="@{/product/list(page=${page +2})}">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div> <!-- container -->
    </div> <!-- layout:fragment="content" -->

    <th:block layout:fragment="script">
<!--        <script th:src="@{ /js/productList.js }" th:inline="javascript"></script>-->
    </th:block>

</html>