<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html }">

    <div layout:fragment="content">
        <th:block sec:authorize="isAuthenticated()">
            <div>  <!-- 사이드 배너 시작-->
                <body>
                <div class="sideBanner " style="text-align: center">
                    <!--찜 하트 수-->
                    <div class="favorites my-2">
                        <div class="favoritesText" >찜한상품</div>
                        <div class="h5 font-weight-bold text-gray-800" style="display: inline-block" >
                            <a th:href="@{/product/interested?memberNo={memberNo} (memberNo=${#authentication.principal.memberNo})}">
                                <i class="fas fa-heart"></i>&nbsp;<div th:text="${interestedList}" ></div>
                            </a>
                        </div>
                        <!-- favoritesCount -->
                        <br>
                    </div>
                    <!--찜 끝-->
                    <!-- 최근 본 상품 시작 -->
                    <div class="recently">
                        <div class="recentlyText" style="font-size: 15px; text-align: center; margin-bottom: 10px;">최근본상품</div>
                        <div class="recentlyProduct"  >
                            <span id="recentlyCnt2"></span>
                            <!-- 최근본상품  -->
                            <div id="recentlyArea2"  >
                                <a id="recentlyList2">
                                    <div th:if="${session.productlist} != null ">
                                        <div style ="text-align:center; padding-bottom: 5px;" >
                                            <div th:if="${session.productlist.size()} > 4">
                                                <a  th:href="@{detail(productNo=${session.productlist.get(5)})}">
                                                    <img th:src="@{${session.productlist.get(4)}}" width="140px" height="90px"  border="1px"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div style ="text-align:center; padding-bottom: 5px;" >
                                            <div th:if="${session.productlist.size()} > 2">
                                                <a  th:href="@{detail(productNo=${session.productlist.get(3)})}">
                                                    <img th:src="@{${session.productlist.get(2)}}"  width="140px" height="90px" border="1px"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div style ="text-align:center; padding-bottom: 5px;" >
                                            <a  th:href="@{detail(productNo=${session.productlist.get(1)})}">
                                                <img th:src="@{${session.productlist.get(0)}}"  width="140px" height="90px" border="1px"/>
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <!-- 최근 본 상품 끝 -->
                    <div class="totheTop">
                        <a href="#" class="topText">TOP</a>
                    </div>
                </div>
                </body>
            </div> <!-- 사이드 배너 끝 -->
        </th:block><!--end.isAuthenticated-->

        <div class="card my-2 container" style="border:none;">
            <!-- 타이틀 -->
<!--            <div class="card-header text-center">-->
<!--                <h1 style="text-center">상품 목록 페이지</h1>-->
<!--            </div>-->
            <div class="my-2" style="width:100%; height:50px; background:#e6f3e6;">
                <div></div>
            </div>

            <!-- 검색 -->
            <div class="my-2" style="margin: 0 auto;">
                <form th:action="@{ /product/list }" method="get">
                    <div class="row">
                        <div class="col-4">
                            <select name="type" class="form-control">
                                <option th:selected="${type}=='all'"  value="all">전체 검색</option>
                                <option th:selected="${type}=='서울'"  value="서울">서울특별시</option>
                                <option th:selected="${type}=='부산'"  value="부산">부산광역시</option>
                                <option th:selected="${type}=='대구'"  value="대구">대구 광역시</option>
                                <option th:selected="${type}=='인천'"  value="인천">인천광역시</option>
                                <option th:selected="${type}=='광주'"  value="광주">광주광역시</option>
                                <option th:selected="${type}=='대전'"  value="대전">대전광역시</option>
                                <option th:selected="${type}=='울산'"  value="울산">울산광역시</option>
                                <option th:selected="${type}=='세종'"  value="세종">세종특별자치시</option>
                                <option th:selected="${type}=='경기'"  value="경기">경기도</option>
                                <option th:selected="${type}=='강원'"  value="강원">강원도</option>
                                <option th:selected="${type}=='충북'"  value="충북">충청북도</option>
                                <option th:selected="${type}=='충남'"  value="충남">충청남도</option>
                                <option th:selected="${type}=='전북'"  value="전북">전라북도</option>
                                <option th:selected="${type}=='전남'"  value="전남">전라남도</option>
                                <option th:selected="${type}=='경북'"  value="경북">경상북도</option>
                                <option th:selected="${type}=='경남'"  value="경남">경상남도</option>
                                <option th:selected="${type}=='제주'"  value="제주">제주특별자치도</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" name="keyword" placeholder="제목과 내용 작성자 검색"  autofocus />
                        </div>
                        <div class="col-2">
                            <input type="submit" class="btn btn-outline-success" value="검색" />
                        </div>
                    </div>
                </form>
            </div>

            <!-- 상품 리스트 -->
            <div id="productList">
                <div class="row row-cols-4">

                    <div th:each="p : ${ list }" class="card my-4" style="width:300px; padding:15px; margin:5px 14px; border:none">
                        <a th:href="@{ /product/detail?productNo={productNo} (productNo = ${ p.productNo }) }"
                           style="text-decoration-line:none; color:black;">
                            <!-- 이미지 -->
                            <div class="card-img-top">
                               <!-- 이미지가 없다면 -->
                                <th:block th:if="${ p.photoUrl1 } == null and ${ p.photoUrl2 } == null and ${ p.photoUrl3 } == null and ${ p.photoUrl4 } == null and ${ p.photoUrl5 } == null">
                                    <img th:src="@{ /images/product/noimg.png }" style="width:100%; height:200px;" alt="...">
                                </th:block>
                                <!-- 이미지가 있다면-->
                                <th:block th:if="${p.photoUrl1} != null">
                                    <img th:src="@{ ${p.photoUrl1} }" style="width:100%; height:200px;" alt="...">
                                </th:block>
                            </div>
                            <!-- 정보 -->
                            <div class="card-body" style="">
                                <p th:text="${ p.title }" class="card-title" style="height:5%; "></p>
                                <p th:text="${ p.price } + ' 원'" class=" card-title" style="height:5%; font-weight:bold"></p>
                                <p th:text="${ p.dealAddress }" class=" card-title" style="height:5% text"></p>
                                <p class="card-text" style="height:2%">
                                    <small th:text=" '관심 ' + ${ p.likeCount }" class="text-muted" ></small>
                                    <small th:text=" '∙ 조회수 ' + ${ p.clickCount }" class="text-muted" ></small>
                                </p>
                            </div>
                        </a>
                    </div>


                </div>
            </div>

            <!-- 검색 결과 없으면 -->
            <th:block th:if="${ result } == 'nok' ">
                <p style="border-top:1px solid #ccc; border-bottom: 1px solid #ccc; padding: 30px; margin-top:10px;" class="text-center">검색 결과가 없습니다.</p>
            </th:block>

            <!-- 상품 등록 -->
            <div>
                <a th:href="@{/product/create}" class="btn" style="background:#e6f3e6; width:100px; height:35px; display:inline-block; margin-left:93%;">상품 등록</a>
            </div>




<!--            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
<!--                <a th:if="${page != nowPage}" th:href="@{/product/list(page=${page -1})}" th:text="${page}"></a>-->
<!--                <strong th:if="${page == nowPage}" th:text="${page}"></strong>-->
<!--            </th:block>-->

            <nav aria-label="Page navigation example" class="my-3 mb-3">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${startPage == list.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/product/list(page=${list.pageable.pageNumber -1}, type=${param.type}, keyword=${param.keyword})}" tabindex="-1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                            <li class="page-item" th:classappend="${num == list.pageable.pageNumber +1} ? 'active'" th:each="num : ${#numbers.sequence(startPage, endPage)}">
                                <a class="page-link" th:href="@{/product/list(page=${num -1})}", th:text="${num}">1</a>
                            </li>
                    <li class="page-item" th:classappend="${endPage == list.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/product/list(page=${list.pageable.pageNumber +1}, type=${param.type}, keyword=${param.keyword})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div> <!-- container -->
    </div> <!-- layout:fragment="content" -->

    <th:block layout:fragment="script">

    </th:block>

</html>