<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout }">

    <div layout:fragment="content">
        <h1>내 목록 페이지</h1>
        ${ memberNo };

        <div id="productList" >
                <div>
                    <!--마이페이지 판매목록(진행중, 거래완료) select list-->
                    <form th:action="@{/product/myList/searchStatus}" method="GET">
                        <select id="myProductListSelect" name="myProductListSelect" class="form-select" aria-label="Default select example" onchange="this.form.submit()">
                            <option>선택</option>
                            <option value="1">전체보기</option>
                            <option value="2">진행중</option>
                            <option value="3">거래완료</option>
                            <option value="4">구매내역</option>
                        </select>
                        <input type="hidden" name="memberNo" th:value="${#authentication.principal.memberNo}" />
                    </form>
                </div>
            <div class="card-group row h-75 my-5" th:each="products : ${ list }">
                <div th:each="p : ${products}" class="col-4" >
                    <div class="card" >
                        <a th:if="${ p.photoUrl1 } == null and ${ p.photoUrl2 } == null and ${ p.photoUrl3 } == null and ${ p.photoUrl4 } == null and ${ p.photoUrl5 } == null"
                           th:href="@{ /product/detail?productNo={productNo} (productNo = ${ p.productNo }) }">
                          <img th:src="@{ /images/product/noimg.png }" class="card-img-top" alt="...">
                        </a>

                        <a th:if="${p.photoUrl1} != null"
                           th:href="@{ /product/detail?productNo={productNo} (productNo = ${ p.productNo }) }">
                          <img th:src="@{ ${p.photoUrl1} }" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${ p.title  }"></h5>
                            <p class="card-text" th:text="${ p.content }"></p>
                            <p class="card-text">
                              <small class="text-muted" th:text="${ p.createdTime }"></small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/3947f3eba3.js" crossorigin="anonymous"></script>

    <th:block layout:fragment="script">

    </th:block>

</html>