<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout }">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Home - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body>
    <div layout:fragment="content">
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- image widget-->
                    <div class="card mb-4">
                        <div class="card-header">사용자 정보</div>
                        <div class="card-body">
                            <div class="container">
                                <div class="my-2">
                                    <a class="btn btn-primary form-control" th:href="@{/mypage/modify?memberNo={no} (no=${userProfile.memberNo})}">프로필 수정</a>
                                </div>
                                <!-- img container -->
                                <!-- image show -->
<!--                                <div class="image-show" id="image-show"></div>-->
<!--                                <div class="image-upload" id="image-upload">-->
<!--                                    <form th:action="@{/mypage/img_upload}" method="post" enctype="multipart/form-data">-->
<!--                                        <label for="imageFile" class="form-label">사용자 이미지</label>-->
<!--                                        <input type="file" class="form-control" id="imageFile" name="userImageFile" accept="image/*" onchange="loadFile(this)">-->
<!--                                    </form>-->

<!--                                    <div class="fileContainer">-->
<!--                                        <div class="buttonContainer">-->
<!--                                            <div class="submitButton" id="submitButton">사진수정</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="profile-left">-->
<!--                                    <div class="profile-img-wrap story-border"-->
<!--                                         onclick="popup('.modal-image')">-->

<!--                                        <form id="userProfileImageForm">-->
<!--                                            <input type="file" name="profileImageFile" style="display: none;"-->
<!--                                                   id="userProfileImageInput" />-->
<!--                                        </form>-->
<!--                                        <div class="box image-show" id="image-show">-->
<!--                                        <img class="profile" src="" th:src="@{/images/mypage/darwin.png}"-->
<!--                                             onerror="this.src='/images/person.jpeg'" id="userProfileImage" />-->
<!--                                        </div>-->
<!--                                        <div class="my-3">-->
<!--                                            <input type="file" class="form-control" id="imageFile" name="userImageFile" accept="image/*" onchange="loadFile(this)"/>-->
<!--                                            <div id="submitButton">사진 수정</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

                            </div>
                        </div>
                    </div>


                </div>
                <!-- userInfo entries-->
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>사용자 프로필</h4>
                        </div>
                        <div class="card-body">
                            <div class="my-2">
                                <input type="hidden" id="memberNo" th:value="${userProfile.memberNo}"  readonly/>
                                <label for="name" class="form-label">사용자 이름</label>
                                <input id="name" class="form-control" type="text" th:value="${userProfile.name}" readonly/>
                            </div>
                            <div class="my-2">
                                <label for="nickname" class="form-label">닉네임</label>
                                <input id="nickname" class="form-control" type="text" th:value="${userProfile.nickname}" readonly/>
                            </div>
                            <div class="my-2">
                                <label for="address" class="form-label">주소</label>
                                <input id="address" class="form-control" type="text" th:value="${userProfile.address}" readonly/>
                            </div>
                            <div class="my-2">
                                <label for="phone" class="form-label">핸드폰 번호</label>
                                <input id="phone" class="form-control" type="text" th:value="${userProfile.phone}" readonly/>
                            </div>
                            <div class="my-2">
                                <label for="email" class="form-label">이메일</label>
                                <input id="email" class="form-control" type="email" th:value="${userProfile.email}" readonly/>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    <div class="col-lg-4">
                        <!-- Blog post-->
                        <div class="card mb-2">
                            <div class="card-header">
                                <h4>관심 거래</h4>
                            </div>
                            <div class="card-body">
                                <label for="likesList" class="form-label align-content-center">0건</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- Blog post-->
                        <div class="card mb-2">
                            <div class="card-header">
                                <h4>진행 중인 거래</h4>
                            </div>
                            <div class="card-body">
                                <label for="currentList" class="form-label align-content-center">0건</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- Blog post-->
                        <div class="card mb-2">
                            <div class="card-header">
                                <h4>진행 완료</h4>
                            </div>
                            <div class="card-body">
                                <label for="completedList" class="form-label align-content-center">0건</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--layout:fragment="content" end-->

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/js/scripts.js}"></script>
    <!--<script th:src="@{/js/index.js}"></script>-->

    </body>
</html>
