<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout }">
    <head>
        <title>오이마켓 | 마이페이지</title>
    </head>

    <body>

<div layout:fragment="content">
    <div class="container">
    <!-- mypage start -->
        <div class="row">
            <!-- 사용자 정보 start -->
            <div class="col-lg-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold">사용자 정보</h6>
                    </div>
                    <div class="card-body">
                        <!-- 채팅 -->
                        <div style="display: inline-block; margin: 0 5px;  float: right;">
                            <th:block th:if="${recievedMessage == 0}">
                                <a href="#" class="checkChatList">
                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                </a>
                            </th:block>
                            <th:block th:if="${recievedMessage != 0}">
                                <a href="#" class="checkChatList">
                                    <b style="font-size: 30px;">💌</b>
                                </a>
                            </th:block>
                        </div>
                        <!-- 사용자 프로필 사진 -->
                        <div>
                            <img class="user_img" alt="..." id="userProfileImage"/>
                        </div>
                        <div class="container my-3 align-content-center">
                            <div class="profileButton">
                                <div>
                                    <a class="btn btn-light btn-icon-split" id="profileImageChange" >
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-arrow-right"></i>
                                                        </span>
                                        <span class="text">  사진 수정  </span>
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-light btn-icon-split"
                                       th:href="@{/mypage/modify?memberNo={no} (no=${userProfile.memberNo})}" >
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-arrow-right"></i>
                                                        </span>
                                        <span class="text"> 프로필 수정  </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- 매너온도 start -->
                        <div class="my-2">
                            <div>
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">매너온도
                                                </div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                            <p> <span id="userGrade"></span>°</p>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="progress progress-sm mr-2">
                                                            <div id="userTemp" class="progress-bar bg-info" role="progressbar"
                                                                 style="width: 37%"  aria-valuemin="0"
                                                                 aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa-solid fa-temperature-three-quarters fa-lg"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 매너온도 end -->
                    </div>
                </div>
            </div>
            <!-- 사용자 정보 end -->

            <!-- 사용자 프로필 start-->
            <div class="col-lg-8">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold">사용자 프로필</h6>
                    </div>
                    <div class="card-body" id="profileContent" style="height: 345px;">
                        <input type="hidden" id="memberNo" th:value="${userProfile.memberNo}" readonly/>
                        <div>
                                <label class="form-control font-weight-bold" style="border:none; float: left; display: block; width: 120px;">사용자 이름</label>
                                <input id="name" class="form-control-plaintext" style="display: block; width: 250px;" type="text" th:value="${userProfile.name}"
                                       readonly/>
                        </div>
                        <div>
                            <label class="form-control font-weight-bold" style="border:none; float: left; display: block; width: 120px;">닉네임</label>
                            <input id="nickname" class="form-control-plaintext" style="display: block; width: 250px;" type="text"
                                   th:value="${userProfile.nickname}" readonly/>
                        </div>
                        <div>
                            <label class="form-control font-weight-bold" style="border:none; float: left; display: block; width: 120px;">주소</label>
                            <input id="address" class="form-control-plaintext" style="display: block; width: 250px;" type="text"
                                       th:value="${userProfile.address}" readonly/>
                        </div>
                        <div>
                            <label class="form-control font-weight-bold" style="border:none; float: left; display: block; width: 120px;">핸드폰 번호</label>
                            <input id="phone" class="form-control-plaintext" style="display: block; width: 250px;" type="text" th:value="${userProfile.phone}"
                                       readonly/>
                        </div>
                        <div>
                            <label class="form-control font-weight-bold" style="border:none; float: left; display: block; width: 120px;">이메일</label>
                            <input id="email" class="form-control-plaintext" style="display: block; width: 250px;" type="email"
                                       th:value="${userProfile.email}" readonly/>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 사용자 프로필 end -->

            <!-- 찜목록/판매내역/구매내역 start -->
            <div class="row">

                <!-- 찜목록 start -->
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">
                                        찜목록
                                        <div class="col-auto" style="display: inline-block">
                                            <i class="fa-solid fa-star fa-lg"></i>
                                        </div>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" style="display: inline-block">
                                        <a th:href="@{/product/interested?memberNo={no} (no=${#authentication.principal.memberNo})}">
                                            <p>
                                            <input type="number" id="myInterestedList"
                                                   style="text-align:right; border:none; font-weight: bold; width:250px;height:50px;font-size:16px;"
                                                   value="*" readonly/>건
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 찜목록 end -->

                <!-- 판매목록 start -->
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">
                                        판매내역
                                        <div class="col-auto" style="display: inline-block">
                                            <i class="fa-solid fa-money-bill fa-lg"></i>
                                        </div>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <p>
                                        <label for="proceedingList" class="form-label align-content-center">진행중</label>
                                        <a th:href="@{/product/myList/searchStatus?myProductListSelect=2&memberNo={no} (no=${#authentication.principal.memberNo})}">
                                            <input type="number" id="proceedingList" style="text-align:right; border:none; font-weight: bold; width:250px;height:40px;font-size:16px;" value="*" readonly/>건
                                        </a>
                                        </p>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <p>
                                        <label for="completedList" class="form-label align-content-center">거래완료</label>
                                        <a th:href="@{/product/myList/searchStatus?myProductListSelect=3&memberNo={no} (no=${#authentication.principal.memberNo})}">
                                            <input type="number" id="completedList" style="text-align:right; border:none; font-weight: bold; width:240px;height:10px;font-size:16px;" value="*" readonly/>건
                                        </a>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- 판매목록 end -->

                <!-- 구매목록 start -->
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">
                                        구매내역
                                        <div class="col-auto" style="display: inline-block">
                                            <i class="fa-solid fa-cart-shopping fa-lg"></i>
                                        </div>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <p>
                                        <a th:href="@{/product/myList/searchStatus?myProductListSelect=4&memberNo={no} (no=${#authentication.principal.memberNo})}">
                                            <input type="number" id="purchaseList" style="text-align:right; border:none; font-weight: bold; width:250px;height:50px;font-size:16px;" value="*" readonly/>건
                                        </a>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- 구매목록 end -->
            </div>
            <!-- 찜목록/판매내역/구매내역 end -->
        </div>
        <!-- Mypage END -->
    </div>
    <!--container END-->


    <!--modal start -->
    <div class="modal" tabindex="-1" id="profileImageModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">사진 수정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">
                    <div>
                        <label for="imageFile" class="form-label">사용자 이미지</label>
                    </div>
                    <div>
                        <input type="hidden" id="modalMemberNo" readonly/>
                        <!-- <label class="form-label">이미지 이름:</label>-->
                        <input type="text" id="modalImgName" readonly/>
                    </div>
                    <div>
                        <input type="file" class="form-control" id="imageFile" name="userProfileImage"
                               accept="image/*"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" id="modalBtnDelete" class="btn btn-primary">삭제</button>
                    <button type="button" id="modalBtnUpdate" class="btn btn-primary">수정</button>
                </div>

            </div>
        </div>
    </div>
</div>
    <!--Modal end-->
</div>
    <!-- fragment:content end-->

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/3947f3eba3.js" crossorigin="anonymous"></script>
    <!-- Core theme JS-->
    <th:block layout:fragment="script">
      <script
        src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      ></script>
      <script th:src="@{/js/profile.js}"></script>
      <script th:src="@{/js/mypage.js}"></script>
      <!--<script th:src="@{/js/index.js}"></script>-->
      <script>
        const checkChatList = document.querySelector(".checkChatList");
        checkChatList.addEventListener("click", function () {
          let _left = Math.ceil(( window.screen.width - 500 )/2);
          let _top = Math.ceil(( window.screen.height - 600 )/2)
          const memberNo = document.querySelector("#memberNo").value;
          window.open(
            "/chat/list?memberNo=" + memberNo,
            "PopupNew",
            "width=500,height=600,left="+_left+",top="+_top
          );
        });
      </script>
    </th:block>
    </body>

</html>
