<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>오이마켓 : 회원가입</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/member/join.css}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body id="body">
<div id="wrap">
    <div id="header">
        <div id="logoWrap">
            <img src="" alt="">
            <div id="logoText">cucumber<br>market</div>
        </div>
    </div>
    <div id="joinForm">
        <form method="post">
            <div>

                <!-- 아이디 -->
                <div class="mt-4">
                    <div>
                        <label for="memberId" class="form-label">아이디</label>
                        <span class="form-control form-control-lg">
                            <input type="text" id="memberId" name="memberId" required autofocus />
                        </span>
                        <div id="memberIdOk" class="d-none">
                            <p class="text-success">멋진 아이디네요!</p>
                        </div>
                        <div id="memberIdNok" class="d-none">
                            <p class="text-danger">이미 사용중이거나 탈퇴한 아이디입니다.</p>
                        </div>
                    </div>
                </div>

                <!-- 비밀번호 -->
                <div class="mt-4">
                    <div>
                        <label for="password" class="form-label">비밀번호</label>
                        <span class="form-control form-control-lg">
                            <input type="password" id="password" name="password" required />
                            <span id="passwordOk" class="d-none">
                                <span class="text-success"><p>안전</p></span>
                                <!-- 안전 아이콘 -->
                            </span>
                            <span id="passwordNok" class="d-none">
                                <span class="text-danger"><p>사용불가</p></span>
                                <!-- 사용불가 아이콘 -->
                            </span>
                        </span>
                        <div id="passwordNok2" class="d-none">
                            <p class="text-danger">8~16자의 비밀번호를 사용하세요.</p>
                        </div>
                    </div>
                </div>

                <!-- 비밀번호 확인 -->
                <div class="mt-4">
                    <div>
                        <label for="password2" class="form-label">비밀번호 재확인</label>
                        <span class="form-control form-control-lg">
                            <input type="password" id="password2" name="password2" required />
                            <span id="password2Ok" class="d-none">
                                <span class="text-success"><p>확인</p></span>
                                <!-- 안전 아이콘 -->
                            </span>
                            <span id="password2Nok" class="d-none">
                                <span class="text-danger"><p>사용불가</p></span>
                                <!-- 사용불가 아이콘 -->
                            </span>
                        </span>
                        <div id="password2Nok2" class="d-none">
                            <p class="text-danger">비밀번호를 다시 확인해주세요.</p>
                        </div>
                    </div>
                </div>

                <!-- 이름 -->
                <div class="mt-4">
                    <div>
                        <label for="name" class="form-label">이름</label>
                        <span class="form-control form-control-lg">
                            <input type="text" id="name" name="name" required />
                        </span>
                        <div id="nameNok" class="d-none">
                            <p class="text-danger">필수 정보입니다.</p>
                        </div>
                    </div>
                </div>

                <!-- 닉네임 -->
                <div class="mt-4">
                    <div>
                        <label for="nickname" class="form-label">닉네임</label>
                        <span class="form-control form-control-lg">
                            <input type="text" id="nickname" name="nickname" required />
                        </span>
                        <div id="nicknameOk" class="d-none">
                            <p class="text-success">멋진 별명이네요!</p>
                        </div>
                        <div id="nicknameNok" class="d-none">
                            <p class="text-danger">이미 사용중이거나 탈퇴한 닉네임입니다.</p>
                        </div>
                    </div>
                </div>

                <!-- 주소 -->
                <div class="mt-4">
                    <div>
                        <label for="sample4_postcode" class="form-label">주소</label>
                        <span class="form-control form-control-lg mb-2" id="postcode">
                            <input type="text" id="sample4_postcode" placeholder="우편번호">
                        </span>
                        <input type="button" id="btnPostcode" class="btn btn-success btn-lg" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                        <span class="form-control form-control-lg mb-2">
                            <input type="text" id="sample4_roadAddress" placeholder="도로명주소">
                        </span>
                        <span class="form-control form-control-lg mb-2">
                            <input type="text" id="sample4_jibunAddress" placeholder="지번주소" name="address">
                        </span>
                        <span id="guide" style="color:#999;display:none"></span>
                        <span class="form-control form-control-lg mb-2">
                            <input type="text" id="sample4_detailAddress" placeholder="상세주소">
                        </span>
                        <input type="text" id="sample4_extraAddress" placeholder="참고항목" class="d-none">
                        <div id="addressNok" class="d-none">
                            <p class="text-danger">필수 정보입니다.</p>
                        </div>
                    </div>
                </div>

                <!-- 휴대폰 번호 -->
                <div class="mt-4">
                    <label for="phone">휴대전화</label>
                    <span class="form-control form-control-lg">
                        <input type="tel" id="phone" name="phone" required/>
                    </span>
                    <div id="phoneNok" class="d-none">
                        <p class="text-danger">필수 정보입니다.</p>
                    </div>
                </div>

                <!-- 이메일 -->
                <div class="mt-4">
                    <label for="phone" class="form-label">이메일</label>
                    <span class="form-control form-control-lg">
                        <input type="email" id="email" name="email" required />
                    </span>
                    <div id="emailNok" class="d-none">
                        <p class="text-danger">필수 정보입니다.</p>
                    </div>
                    <!-- 이메일 확인 코드 -->
                </div>

                <!-- 가입하기 버튼 -->
                <div>
                    <input type="submit" value="가입하기" id="btnSubmit" class="disabled"/>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- axios-http JS -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- 주소 검색 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
function sample4_execDaumPostcode() {
new daum.Postcode({
oncomplete: function(data) {
// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
var roadAddr = data.roadAddress; // 도로명 주소 변수
var extraRoadAddr = ''; // 참고 항목 변수
// 법정동명이 있을 경우 추가한다. (법정리는 제외)
// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
extraRoadAddr += data.bname;
}
// 건물명이 있고, 공동주택일 경우 추가한다.
if(data.buildingName !== '' && data.apartment === 'Y'){
extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
}
// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
if(extraRoadAddr !== ''){
extraRoadAddr = ' (' + extraRoadAddr + ')';
}
// 우편번호와 주소 정보를 해당 필드에 넣는다.
document.getElementById('sample4_postcode').value = data.zonecode;
document.getElementById("sample4_roadAddress").value = roadAddr;
document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
if(roadAddr !== ''){
document.getElementById("sample4_extraAddress").value = extraRoadAddr;
} else {
document.getElementById("sample4_extraAddress").value = '';
}
var guideTextBox = document.getElementById("guide");
// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
if(data.autoRoadAddress) {
var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
guideTextBox.style.display = 'block';
} else if(data.autoJibunAddress) {
var expJibunAddr = data.autoJibunAddress;
guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
guideTextBox.style.display = 'block';
} else {
guideTextBox.innerHTML = '';
guideTextBox.style.display = 'none';
}
}
}).open();
}
</script>
<!-- Core theme JS-->
<script th:src="@{ /js/member/join.js }"></script>
</body>
</html>
