<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{ layout/layout.html }"
>
  <head>
    <link rel="stylesheet" th:href="@{/css/post/postCreate.css}" />
  </head>

  <div layout:fragment="content">
    <div class="container"
         style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)">
      <!-- Content here -->
      <div class="row border-bottom">
        <!--부제,작성 취소 버튼-->
        <div id="createTitle" style="margin-top:30px;">
          <h2>글 작성</h2>

          <div class="buttons">
            <button type="submit" class="btn" id="insertPostButton">
              <b>작성</b>
            </button>
            <a
              type="button"
              class="btn"
              id="cancleCreate"
              th:href="@{/post/list}"
              ><b>취소</b></a
            >
          </div>
          <!--buttons 끝-->
        </div>
      </div>
      <!-- 위의 row 끝-->
      <!--부제,작성 취소 버튼 끝-->
      <!--제목, 버튼-->
      <div class="mt-100">
        <div>
          <form th:object="${post}" id="form" enctype="multipart/form-data">
            <input
              type="hidden"
              name="memberNo"
              th:value="${#authentication.principal.memberNo}"
            />
            <input type="hidden" name="clickCount" th:value="0" />
            <div class="titleDiv">
              <input
                type="text"
                class="mb-10"
                id="title"
                aria-describedby="emailHelp"
                th:field="*{title}"
                placeholder="제목을 입력해 주세요."
                th:value="${post.title}"
              />
            </div>
            <div class="warningBox">
              <p class="m-2">
                게시글 작성 전 카페 운영 정책을 꼭 확인하시어 작성에 불편함이
                없으시길 바랍니다.
              </p>
              <p class="m-2">
                규정을 위반한 게시글은 무통보 삭제될 수 있으며, 추가적인 제재
                조치가 진행될 수 있습니다.
              </p>
            </div>
            <div class="imageDiv">
              <div class="imageButton">
                <label for="chooseFile">
                  <span class="imageLable"
                    >📷🎄👉 이미지를 넣어주세요!! 👈🎄📷</span
                  >
                </label>
              </div>
              <input
                multiple="multiple"
                type="file"
                name="files"
                id="chooseFile"
                style="display: none"
              />
            </div>
            <div class="form-floating my-2">
              <textarea
                class="form-control"
                placeholder="내용을 입력해 주세요."
                id="postContent"
                style="height: 200px"
                th:field="*{content}"
                th:value="${post.content}"
              >
              </textarea>

              <label for="postContent">내용을 입력하세요.</label>
            </div>
          </form>
        </div>
        <!-- form 감싸는 div끝-->
      </div>
    </div>
  </div>

  <th:block layout:fragment="script">
    <!--  Ajax를 사용하기 위한 axios 자바스크립트 라이브러리 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/create.js}"></script>
  </th:block>
</html>
