<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{ layout/layout.html }"
>
  <div layout:fragment="content">
    <div class="text-center">
      <h1>글 작성</h1>
    </div>
    <div>
      <form th:action="@{/post/create}" method="post">
        <input type="hidden" name="memberNo" th:value="1"/>
        <div class="mb-3">
          <label for="title" class="form-label">제목</label>
          <input
            type="text"
            class="form-control"
            id="title"
            aria-describedby="emailHelp"
            name="title"
          />
        </div>
        <div class="form-floating mb-2">
          <textarea
            class="form-control"
            placeholder="내용을 입력해주세요."
            id="content"
            style="height: 100px"
            name="content"
          ></textarea>
          <label for="content">내용</label>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">작성</button>
          <a type="button" class="btn btn-primary" th:href="@{/post/list}"
            >취소</a
          >
        </div>
      </form>
    </div>
  </div>
</html>
