<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{ layout/layout.html }"
>
  <head>
    <title>오이마켓 | 동네생활</title>
    <link rel="stylesheet" th:href="@{/css/post/postList.css}" />
  </head>

  <div layout:fragment="content">
    <div class="container">
      <!--bannerSection-->
      <div id="bannerSection">
        <div id="bannerSectionWrap">
          <h1></h1>
          <p></p>
        </div>
      </div>
      <!--end.bannerSection-->
      
        <table class="table table-hover">
          <thead>
            <tr class="tr">
              <th scope="col">글 번호</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">작성일</th>
              <th scope="col">조회</th>
            </tr>
          </thead>
          <th:block th:if="${searchResult} == 1">
          <tbody>
            <tr
              class="tr"
              th:each="list : ${list}"
              th:onclick="|location.href='@{/post/detail(postNo=${list.postNo},clickCount=${list.clickCount})}'|"
              id="clickCount"
            >
              <td th:text="${list.postNo}"></td>
              <td th:text="${list.title}"></td>
              <td th:text="${list.writer}"></td>
              <td
                th:text="${ #temporals.format(list.createdTime, 'yyyy-MM-dd HH:mm') }"
              ></td>
              <td th:text="${list.clickCount}"></td>
            </tr>
          </tbody>
        </th:block>
        <th:block th:if="${searchResult}==0">
          <tbody>
            <tr>
              <td colspan="5">
                <p id="noResult">등록된 게시글이 없습니다.</p>
              </td>
            </tr>
          </tbody>
        </th:block>
      </table>
      
      

      <!-- 검색기능 -->
      <div id="formDiv" class="row">
        <div class="col"></div>
        <form class="searchForm col-5" method="get" th:action="@{/post/list}">
          <div id="searchDiv">
            <input
              id="searchInput"
              type="text"
              class="form-control"
              name="searchText"
              placeholder="검색어를 입력해주세요"
              th:value="${param.searchText}"
            />
            <th:block th:if="${address} != '전국' ">
                <input type="hidden" th:value="${#authentication.principal.address}" name="address"/>
            </th:block>
            <th:block th:if="${address} == '전국' ">
                <input type="hidden" th:value="${address}" name="address"/>
            </th:block>
          </div>
          <div>
            <button id="btnSearch" type="submit" class="btn searchButton">
              <span><i class="bi bi-search"></i></span>
            </button>
          </div>
        </form>

        <!--글 작성 버튼-->
        <div id="btnGroup" class="col">
          <div class="createButton">
            <a type="button" class="btn" th:href="@{/post/create}">글 작성</a>
          </div>
          <th:block th:if="${address} != '전국'">
            <div class="listButton">
              <a type="button" class="btn" th:href="@{/post/list?address={address} (address=${#authentication.principal.address})}">전체 목록</a>
            </div>
          </th:block>
          <th:block th:if="${address} == '전국'">
            <div class="listButton">
              <a type="button" class="btn" th:href="@{/post/list?address={address} (address=${address})}">전체 목록</a>
            </div>
          </th:block>
        </div>
      </div>
      <!--end.formDiv-->

      <!--페이지버튼-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li
            class="page-item"
            th:classappend="${list.pageable.pageNumber+1 == 1} ? 'disabled'"
          >
            <th:block th:if="${searchText==''}">
              <a
                class="page-link"
                th:href="@{/post/list(page=${list.pageable.pageNumber-1},address=${address})}"
                tabindex="-1"
                ><span aria-hidden="true">&lt;</span></a
              >
            </th:block>
            <th:block th:if="${searchText !=''}">
              <a
                class="page-link"
                th:href="@{/post/list(page=${list.pageable.pageNumber-1},searchText=${searchText},address=${address})}"
                tabindex="-1"
                ><span aria-hidden="true">&lt;</span></a
              >
            </th:block>
          </li>
          <li
            class="page-item"
            th:classappend="${i == list.pageable.pageNumber + 1} ? 'disabled'"
            th:each="i : ${#numbers.sequence(startPage, endPage)}"
          >
            <th:block th:if="${searchText==''}">
              <a
                class="page-link currentPage"
                th:text="${i}"
                th:href="@{/post/list(page=${i-1},address=${address})}"
              ></a>
            </th:block>
            <th:block th:if="${searchText!=''}">
              <a
                class="page-link currentPage"
                th:text="${i}"
                th:href="@{/post/list(page=${i-1},searchText=${searchText},address=${address})}"
              ></a>
            </th:block>
          </li>
          <li
            class="page-item"
            th:classappend="${list.totalPages <= list.pageable.pageNumber + 1} ? 'disabled'"
          >
            <th:block th:if="${searchText==''}">
              <a
                class="page-link"
                th:href="@{/post/list(page=${list.pageable.pageNumber+1},address=${address})}"
                tabindex="-1"
                ><span aria-hidden="true">&gt;</span></a
              >
            </th:block>
            <th:block th:if="${searchText !=''}">
              <a
                class="page-link"
                th:href="@{/post/list(page=${list.pageable.pageNumber+1},searchText=${searchText},address=${address})}"
                tabindex="-1"
                ><span aria-hidden="true">&gt;</span></a
              >
            </th:block>
          </li>
        </ul>
      </nav>
    </div>
    <!--end.container-->
  </div>

  <th:block layout:fragment="script"><!--자바스크립트 작성--> </th:block>
</html>
