<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html }">


<div layout:fragment="content">
  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">글 번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
        <th scope="col">조회수</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="list : ${list}">
        <td th:text="${list.postNo}"></td>
        <td th:text="${list.title}"></td>
        <td th:text="${list.writer}"></td>
        <!--작성자추가-->
        <td th:text="${list.createdTime}"></td>
        <td th:text="${list.clickCount}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- 검색기능 -->
  <form
          class="row g-3 d-flex justify-content-end"
          method="get"
          th:action="@{/post/list}"
  >
    <div class="col-auto">
      <label for="searchText" class="visually-hidden">검색</label>
      <input
              type="text"
              class="form-control"
              id="searchText"
              name="searchText"
              placeholder="검색어를 입력해주세요"
              th:value="${param.searchText}"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-outline-secondary mb-3">
        검색
      </button>
    </div>
  </form>

</div>

</html>