<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{ layout/layout.html }"
>
  <head>
    <link rel="stylesheet" th:href="@{/css/post/postList.css}" />
  </head>
  <div layout:fragment="content">
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr style="text-align: center">
            <th scope="col">글 번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
          </tr>
        </thead>
        <tbody>
          <tr
            style="text-align: center"
            th:each="list : ${list}"
            th:onclick="|location.href='@{/post/detail(postNo=${list.postNo},clickCount=${list.clickCount})}'|"
            id="clickCount"
          >
            <td th:text="${list.postNo}"></td>
            <td th:text="${list.title}"></td>
            <td th:text="${list.writer}"></td>
            <td
              th:text="${ #temporals.format(list.createdTime, 'yyyy-MM-dd HH:mm') }"
            ></td>
            <td th:text="${list.clickCount}"></td>
          </tr>
        </tbody>
      </table>
      <!--글 작성 버튼-->

      <div class="createButton" style="display: inline-block">
        <a type="button" class="btn btn-primary" th:href="@{/post/create}"
          >글 작성</a
        >
      </div>
      <div class="listButton" style="display: inline-block">
        <a
          type="button"
          class="btn btn-primary listButton"
          th:href="@{/post/list}"
          >전체 목록</a
        >
      </div>
    </div>
    <!-- 검색기능 -->
    <form
      class="row g-3 justify-content-center"
      method="get"
      th:action="@{/post/list}"
    >
      <div class="col-auto justify-content-center">
        <input
          type="text"
          class="form-control"
          name="searchText"
          placeholder="검색어를 입력해주세요"
          th:value="${param.searchText}"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn searchButton mb-3">
          <span>
            <i class="bi bi-search"></i>
          </span>
        </button>
      </div>
    </form>

    <!--페이지버튼-->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          th:classappend="${list.pageable.pageNumber+1 == 1} ? 'disabled'"
        >
          <a
            class="page-link"
            th:href="@{/post/list(page=${list.pageable.pageNumber-1})}"
            tabindex="-1"
            ><</a
          >
        </li>
        <li
          class="page-item"
          th:classappend="${i == list.pageable.pageNumber + 1} ? 'disabled'"
          th:each="i : ${#numbers.sequence(startPage, endPage)}"
        >
          <a
            class="page-link"
            th:text="${i}"
            th:href="@{/post/list(page=${i-1})}"
          ></a>
        </li>
        <li
          class="page-item"
          th:classappend="${list.totalPages <= list.pageable.pageNumber + 1} ? 'disabled'"
        >
          <a
            class="page-link"
            th:href="@{/post/list(page=${list.pageable.pageNumber+1})}"
            >></a
          >
        </li>
      </ul>
    </nav>
  </div>

  <th:block layout:fragment="script"><!--자바스크립트 작성--> </th:block>
</html>
