/*carousel*/
.carousel-item img{width: 100%; height: 400px; background-color: #666;}

/*productSection*/
#productSection{margin-top: 120px;}
.sectionTitle{text-align: center; margin-bottom: 40px;}
.sectionTitle h1{font-family: 'Dokdo'; font-size: 40px; margin-bottom: -3px;}
.sectionTitle h4{font-size: 16px;}
.card{margin: 0; padding: 0; width: 306px; border: 0;}
.card-img-top{width: 100%; height: 306px; position: relative;}
.card-img-top img{width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    transform: translate(50, 50); object-fit: cover;
    border-radius: 4px; margin: auto;}
.product{margin-right: 32px;}
#popularProduct4, #areaPopularProduct4{margin-right: 0;}

.btnMore{margin: 20px auto; text-align: center;}
.btnMore div{padding: 12px 40px; border-radius: 40px; font-weight: 700;}

/*bannerSection*/
#bannerSection{width: 100%; height: 136px; background: #e6f3e6; margin-top: 80px;}

/*postSection*/
#postSection{margin-top: 100px;}
