*{margin: 0; padding: 0;}
#body{position: relative; width: 100%; height: 100vh;}
#header{position: fixed; top: 0; z-index: 99;
    width: 100%; min-width: 1280px; height: 80px; background: #fff;}
#headerWrap{padding: 0;}
#nav{width: 100%; height: 80px;}
#navWrap{width: 100%; height: 80px; margin: 0;}
#logoText{text-align: center; float: left; width: 156px; margin: 16px 0; float: left;}
#logoText>a{font-family: 'Dokdo', cursive; font-size: 40px; 
    color: #198754; line-height: .6em; text-decoration: none;
    display: inline-block;}

#navUlL{margin: 0; padding: 0; float: left;}
#navUlL li{text-decoration: none; float: left; margin-left: 52px;}
#navUlL li a{display: inline-block; height: 100%; text-decoration: none; color: #333;
    font-size: 15px; font-weight: 600; line-height: 80px;}

#navUlR{margin: 0; padding: 0; float: right;}
#navUlR li{float: right; margin-left: 16px;}
#navUlR li a{display: inline-block; height: 100%; text-decoration: none; color: #666; font-size: 13px; line-height: 80px;}

#footer{width: 100%; min-width: 1280px; height: 120px; background: #efefef;}
#footerWrap{padding: 0;}
#footerL{display: inline-block; width: 50%; height: 40px; margin: 40px 0; line-height: 20px;}
#footerL p{font-size: 12px; color: #333; margin: 0;}

#section{width: 100%; height: auto; min-width: 1280px; margin: 0 auto; padding-top: 80px;}
#sectionWrap{padding: 0;}

body { height: 2000px; }

.sectionTitle{text-align: center; margin-bottom: 40px;}
.sectionTitle h1{font-family: 'Dokdo'; font-size: 20px; margin-bottom: -3px;}
.sectionTitle h4{font-size: 16px;}

.sideBanner {
    position: fixed;
    width: 180px;
    height: 41%;
    top: 45%;
    margin: 50px;
    background-color:#F5F5F5;
    right: 0px;
    border-radius: 30px;
}