/* style.css */

/* label 스타일 조정 */
.imageButton {
  display: flex;
  justify-content: center;
}
label {
  cursor: pointer;
  font-size: 1em;
}

/* 못생긴 기존 input 숨기기 */
#chooseFile {
  display: none;
}
