@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal; font-style: normal;
}
*{margin: 0; padding: 0; font-family: 'S-CoreDream-3Light';}