.buttons {
  border-bottom: 10px;
  color: black;
}

#form #warningBox {
  border: 1px solid #efefef;
  border-radius: 6px;
  background-color: rgba(249, 249, 250, 255);
  margin-bottom: 30px;
  padding: 20px 24px;
  font-size: 14px;
  line-height: 23.8px;
}
