<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html }">

    <div layout:fragment="content" class="container text-center">

        <h1>hello</h1>

        <form method="post" th:action="@{ /test2 }" enctype="multipart/form-data">

            <div>
                file : <input type="file" name="file" accept="image/png, image/jpeg">
            </div>

            <input type="submit" value="전송" />
        </form>


    </div> <!-- content -->

    <th:block layout:fragment="script">
        <script>
            console.log("ff");

        </script>
    </th:block>

</html>