/* input = file */
input[type=file]::file-selector-button {
    width: 100px;
    height: 30px;
    background: #f0f0f0;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    }
input[type=file]::file-selector-button:hover{
    background:  gray;
    color: white;
}

#zipSearchBtn:hover {
    background:  gray;
    color: white;
}


/* 페이징 */
.pagination  {
    background-color: white;
}

.page-link {
    text-decoration:none;
    color: gray;
}

.page-link:hover {
    text-decoration: underline;
    color: #03c75a;
}
