header {
  position: sticky;
  top: 0;
  margin-bottom: 1em;

  height: 75px;
  padding: 1rem;
  color: white;
  background: #198754;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  opacity: 90%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

body {
  padding-bottom: 50px;
}
