header {
  position: sticky;
  top: 0;
  margin-bottom: 1em;

  height: 75px;
  padding: 1rem;
  color: white;
  background: #198754;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  opacity: 90%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

body {
  padding-bottom: 50px;
}

footer #message{
  width: 80%;
  padding: 8px;
  border:1px solid #efefef;
  border-radius: 20px;
}

footer #message:focus{
  outline: none;
  box-shadow: 0 0 0 2px #efefef;
}

footer .sendButton{
  display: inline;
}

footer .sendDiv{
  margin-bottom: 10px;
}